<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/account.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/Icons/home-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-logo">
                <a class="navbar-brand" href="/">Juvi <b>JEWELRY</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right navbar-buttons">
                    <li><a href="#" id="logout-button">Logout</a></li>
                    <li><a href="cart" data-toggle="modal"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="account-container">
        <h1>My Account</h1>
        <section class="account-sec">
            <% if (userLoggedIn) { %>
                <p class="username-tag">UserName: <%= user.Username %></p>
                <p class="user-address">Address: <%= customer.Address %></p>
                <p class="user-phoneNumber">Phone Number: <%= customer.phoneNumber %></p>
                <h2>My Order History</h2>
                <% for(let i = 0; i < orders.length; i ++) { %>
                    <div class="order">
                        <h5>Order #<%= orders[i].id %></h5>
                        <p>Status: <%= orders[i].Status %></p>
                        <p>Date: <%= orders[i].Date %></p>
                        <p>Address: <%= orders[i].Address %></p>
                        <p>City: <%= orders[i].City %></p>
                        <p>Country: <%= orders[i].Country %></p>
                        <p>Zip: <%= orders[i].Zip %></p>
                        <h4>Ordered Products</h4>
                        <div class="container order-product-grid">
                            <% for(let j = 0; j < orders[i].Products.length; j ++) {
                                let products = orders[i].Products;
                                 %>
                                 <div class="order-product-card col-4">
                                     <div class="order-product-price">
                                        <span>Quantity: <%= products[j].amount %></span>
                                        <span>Price: <i class='fa fa-shekel'></i><%= products[j].Price * products[j].amount %></span>
                                    </div>
                                    <div class="order-product-image">
                                        <img src="<%= products[j].Picture %>"/>
                                    </div>
                                    <div class="order-product-details">
                                        <p><%= products[j].ProductName %></p>
                                        <p>Price Per One: <i class='fa fa-shekel'></i><%= products[j].Price %></p>
                                    </div>
                                   
                                </div>
                            <% } %>
                        </div>
                        <h6>Order Total Price: <i class='fa fa-shekel'></i><%= orders[i].Price %></h6>
                    </div>
                    <hr />
                <% } %>
            <% } else { %>
                <p>You are not logged in. Please <a href="/login">login</a> to view your account details.</p>
            <% } %>
        </section>
    </div>
    
    <footer>
        <div class="footer">
            <div class="row">
                <ul>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="row">
                JUVI Copyright © 2023 Juvi - All rights reserved ||
            </div>
        </div>
    </footer>
    
    <script src="assets/js/script.js"></script>
    <script>
        // When clicking the "Logout" button
        $('#logout-button').click(function() {
            // Redirect to the logout route (assuming you have a route for this)
            window.location.href = "/logout";
        });
    </script>
</body>

</html>
